/* Add your custom styles here */
@media (max-width: 1620px) {
  header .wrap {
    padding: 0 20px;
  }
}

header > .wrap {
  position: relative;
  max-width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "GillSans";
  background: #222;
  color: #fff;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  line-height: 1;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Reset default styles for elements */
body,
div,
span,
a,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Apply font styles and background color to specific elements */
a,
a:visited {
  color: #fff;
  text-decoration: none;
}

/* You can add more specific styles for your navigation bar elements here */
