/* CompareModel.css */

.compare-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;


  }
  tbody{
    background-color: #282828;
    color: white;
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 1100px;
    overflow-x: auto;

  }
  

  .close-button {
    margin-left: 10%;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: 10px;
    right: -80%;
}

.close-button:hover {
    background-color: #9C0000;
    transition: background-color 0.5s ease;
}
  
  h2 {
    text-align: center;
  }
  
  .compare-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .compare-table th,
  .compare-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .compare-table th {
    background-color: #282828;
    
  }
  
  .compare-table th:first-child,
  .compare-table td:first-child {
    font-weight: bold;
    
  }
  
  .compare-table td:first-child {
    min-width: 150px;
    
  }
  
  .compare-table td {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .car-image {
    max-width: 100%;
    /* Ensure the image takes full width */
}

.view-button{
color: white;
background-color: red;
border-radius: 5px;
cursor: pointer;
border-color: red;
height: 30px;
}
.view-button:hover{
  background-color: rgb(203, 0, 0);
}
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .modal-content {
      max-width: 95%;
    }
  }
  